.Documents {
  display: flex;
  gap: 40px;
}

.add-document-section {
  width: 30%;
}



.documents-list-section{
    text-align: center;
    width:70%;
    height:calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
   
}

/*-----------------------------------------------------*/
.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

  .label{
    display: block;
    position: relative;
    width: auto;
    height: 50px;
    border-radius: 5px;
    background:  #3190CD url("../../../images/upload.ico") no-repeat;
    background-size:30px;
    background-position:10px 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: transform .2s ease-out;
  }