
.container{
    height: calc(100vh - 12em);
    display: flex;

  }
  
  .text-section{
    width: 40%;
    height: 80%;
    padding:.5em;
  }
  
  .text-section-paragraph{
  margin: 1em 0;
  font-size: 1.4rem;
  }
  
 .image-section{
   display: flex;
   align-self: flex-end;
   justify-content: flex-start;

 }
  .plane-image{
    filter: drop-shadow(30px 10px 4px #3190CD);
    width: 500px;
  
  }
  
 