.home-container{
  display: flex;
  margin-top: 12vh;
  justify-content: space-between;
}

.home-container-left{
  width: 30%;
  text-align: left;
  margin-left: 10vw;
}

.home-container-left p{
  font-size: 0.95rem;
  margin-bottom: 2vh;
}

.home-container-left span{
  background-color: var(--color4);
}


.home-container-left h1{
  font-size: 3.3rem;
  margin-bottom: 20px;
}

.home-container-left h3{
  font-weight: normal;
  font-size: 1.1rem;
}

.home-container-btn{
  margin-top: 4vh;
  display: flex;
  gap: 1.5em;
}


.btn-right{
  background-color:var(--color5);
  padding: 15px 30px;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  margin-right: 1vw;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btn-right:hover{
  background-color: rgba(242, 118, 107, .8);
}

.destination-container{
  margin-top: 10vh;
  display: flex;
}

.destination-container a img{
  max-width: 80px;
}

.destination-container-text{
  margin-left: 1vw;
}

.destination-container-text p{
  color: #999;
  margin-top: 1vh;
}

.home-container-right{
  width: 50%;
}