.travels-body{
display: flex;
flex-direction: column;
margin: 2em;
}

.travels-body > h2{
  align-self: center;
  font-size: 2.3em;
  margin-bottom: 1.5em;
}

.travels-content{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.travels-aside{
background-color: #fff;
max-height: 230px;
border-radius: 10px;
color: #3190CD;

}

.travelContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.travelContainer form{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.travelContainer input{
  padding:.5em;
  border: none;
  border-bottom:2px solid #3190CD;
  outline:none;
}

.travelContainer  button{
  display:block;
  border: none;
  padding:1em;
  font-weight: 700;
  font-size: 1em;
  background-color: #3190CD;
  color: #fff;
  cursor: pointer;
}

.travelContainer  button:hover{
  background-color: rgb(118, 168, 212);
}