.travel-item{
  color:blue;
}

.travels-list{
  background: url("../../images/plane.jpg") no-repeat;
  background-size: cover;
  background-position:center;
  max-width:900px;
  display:flex;
  justify-content: center;
  text-align: center;
  gap: 2.5em;
  padding:2em;
  flex-wrap:wrap;
  height:300px;
  overflow-y: auto;
}


.travels-list a{
  color:#000;
  display: block;
  font-weight: 700;
  font-size: 1.2em;
  background-color:rgb(119, 161, 119);
  padding:1em;
  border-radius: 20px;
  width: 150px;
  height:100%;
  text-decoration: none;
  box-shadow:1px 1px 10px 3px rgb(15, 42, 194);
}

