.travel-item{
  color:blue;
}

.travels-list{
  background: url("../../images/plane.jpg") no-repeat;
  background-size: cover;
  background-position:center;
  max-width:900px;
  display:flex;
  justify-content: center;
  text-align: center;
  gap: 2.5em;
  padding:2em;
  flex-wrap:wrap;
  height:300px;
  overflow-y: auto;
}




