.tips-container{
    width: 100%;
    height: 100%;
    border: 2px solid red;
    display: flex;
}

.aside__tip-list{
    flex-grow: 0.1;
}

.aside__tip-list-ul{
    border: 5px solid grey;
}

.tip-detailed{
    border: 5px solid green;
    flex-grow: 1;
    margin-left: 3vw;
}