.tips-container{
    width: 100%;
    height: 100%;
    display: flex;


}

.aside__tip-list{
    width: 25%;
}

.aside__tip-list-ul{
    cursor: pointer;
    list-style: none;
}

.aside__tip-list-ul li{
    margin-bottom: 2vh;

}

.aside__tip-list-ul li:hover{
    color: var(--color5);

}

.tip-detailed{
    width: 75%;
    margin-left: 3vw;
    

}

.aside__tip-list-btn{
    display: none;
}

.title_tips-list-mobile-conteiner{
    text-align: center;
    margin-bottom: 15px;
}

.travelTips-ref{
    margin-top: 100px;
    text-align: center;
    font-size: 0.8em;
}


@media screen and (min-width:1px) and (max-width:767px) {


    .tips-container{
        display: block;
    }

    .title_tips-list-mobile-conteiner{
        font-size: 0.6em;
        align-content: center;
        justify-content: center;
        display: flex;
        margin-bottom: 2vh;
    }

    .title__tip-list-mobile{
        display: block;
    }

    .aside__tip-list{   
        display: none;
        position: absolute;
        width: max-content;
        height: max-content;
        background-color:  #fff;
        z-index: 40;
        overflow-y: auto;
        left: 0;
        border-radius: 4%;
        padding: 5px
    }

    .aside__tip-list-ul{
        margin: 10px;
        background-color: #3190CD;
        border-radius: 4%;
    }


    .aside__tip-list-ul li{
        margin-bottom: 10px;
        padding: 10px 5px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        color: #fff;
        
    }



    .tip-detailed{
        display: block;
    }

    .aside__tip-list-btn{
        display: inline-block;
        cursor: pointer;
        width: 5em;
        height: 5em;
        margin: 0 -3em;
    }

    .showTip{
        display: block;
    }


}


/* @media screen and (min-width:0px) and (max-width:479px) {

    .tips-container{
        display: block;
    }
    
    .tip-detailed{
        display: block;
        margin-left: 0;
    }

    
    
} */