.react-pdf__Page {
    background-color: rgb(198, 228, 228);
    box-shadow: 0px 20px 25px -5px rgb(11, 72, 153),
    0px 10px 10px -5px rgb(85, 236, 216); 
    width:220px;
    height:220px;
    padding:10px;
    
  } 
  
  

  .react-pdf__Page__canvas {
    width: 100% !important;
    height: 100% !important;
  }
  
   .react-pdf__Page__textContent{
    display:none
  } 

  .btn-delete{
    width: 200px;
    background-color: rgb(163, 16, 16);
    margin-top: 30px;
    color:white;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin: 50px;
  }
  