.nav-bar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2vh;
  margin-bottom: 4em;

}

.btn-open-menu, .btn-close-menu{
  display: none;
}

.nav-list-container{
  background-color: #fff;
  border-radius: 20px;
}

.logo-container a{
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}

.nav-list{
  display: flex;
  gap: 2em;
  align-items: center;
  justify-self: center;
  padding: 5px 20px;
  height: 100%;
  
}

.nav-list li {
  list-style: none;
  position: relative;
}

.nav-list li a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
}

.nav-list li a:hover {
  color: var(--color5);
}

.nav-list li:not(:last-child)::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 100%;
  right: -17px;
  background-color: #ccc;
}

.btn-logout{
  border: none;
  cursor: pointer;
  background-color: #fff;
  padding:.7em 1em;
  font-weight: 700;
  font-size: 1em;
}

.btn-logout:hover{
  background-color: rgb(223, 250, 252);
}

.profile-picture{
  width:50px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.userInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-left: 20px;
}

.profile-picture{
  margin-right: .5vw;
}