.nav-bar {
  margin-bottom: 5em;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}


