.nav-bar {
  margin-bottom: 5em;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.btn-logout{
  border: none;
  cursor: pointer;
  background-color: #fff;
  padding:.5em;
  font-weight: 700;
}
