.nav-bar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2vh;
  margin-bottom: 4em;
  border-bottom: 1px solid rgb(206, 202, 202);
  padding-bottom: 20px;

}

.nav-list-container{
  background-color: #fff;
  border-radius: 20px;
  
}

.logo-container a{
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}

.nav-list{
  display: flex;
  gap: 2em;
  align-items: center;
  justify-self: center;
  padding: 5px 20px;
  height: 100%;
  
}

.nav-list li {
  list-style: none;
  position: relative;
}

.nav-list li a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
}

.nav-list li a:hover {
  color: var(--color5);
}

.nav-list li:not(.last-child)::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 100%;
  right: -17px;
  background-color: #ccc;
}

.btn-logout{
  border: none;
  cursor: pointer;
  background-color: #fff;
  padding:.7em 1em;
  font-weight: 700;
  font-size: 1em;
}

.btn-logout:hover{
  background-color: rgb(223, 250, 252);
}

.profile-picture{
  width:50px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.userInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin-left: 20px;
}

.profile-picture{
  margin-right: .5vw;
}

.btn-open-menu, .btn-close-menu{
  display: none;
}

.btn-header-google-responsive, .btn-header-salir-responsive{
  display: none;
}


@media screen and (min-width:900px) and (max-width:1200px){
  .nav-list li a {
    
    font-size: .9rem;
  }
  
}

@media screen and (min-width:0px) and (max-width:900px){

  .btn-open-menu, .btn-close-menu{
    display: block;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    
  }

  .btn-open-menu{
    background-color: var(--background);
  }

  .btn-close-menu{
    background-color:  rgb(21, 98, 161);  
    align-self: flex-end;
    margin: 20px;
    margin-bottom: 50px;
    
  }

  .btn-open-menu img , .btn-close-menu img{
    width: 50px;
    height: 50px;
    
  }

  .btn-header-google, .btn-header-salir {
    display: none;
    
  }

  .btn-header-google-responsive, .btn-header-salir-responsive{
    display: block;
    
  }

  .nav-bar {
    margin-bottom: 5em;
    padding: 0 1em;
    
  }


  .nav-list{
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    background-color:  rgb(21, 98, 161);
    height: 100%;
    z-index: 50;
    overflow-y: auto;
    row-gap: 10px;
    
  }
  .nav-list-container{
    background-color: var(--background);
    
  }

  .nav-list li::after {
    display: none;
    
  }
  
  .nav-list li {
    list-style: none;
    text-align: center;
    height: 60px;
    
  }

  
  .nav-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    position: relative;
    
  }
  
  .nav-list li a:hover{
    color: #ccc;
    
  }
  
  .btn-logout{
    border: none;
    cursor: pointer;
    background-color: #fff;
    padding:.7em 1em;
    font-weight: 700;
    font-size: 1em;
    
  }
  
  .btn-logout:hover{
    background-color: rgb(223, 250, 252);
    
  }
  .profile-picture{
    width:50px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    
  }
  
  .userInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-left: 20px;
    
  }

  .show{
    display: flex;
    animation-name: showMenu;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    

  }

  @keyframes showMenu{
    from{
      left: 100%;
    }
  
    to{
      left: 0;
    }
  }

}