.back{
    margin-top: 30px;
    border: none;
    padding:10px;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.back:hover{
    background-color:rgb(11, 54, 109);
}