@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root{
  --background-image: linear-gradient(to right, #3190CD 50%, #08E9FA)
}

.App{
  font-family: 'Rubik', sans-serif;
  background-image: var(--background-image);
  height: 100vh;
  color: #fff;
  padding: 1.5em 2em;
}
