.about__container-title{
    text-align: center;
    margin-bottom: 1em;
}

.about__container-team{
    margin-top: 1em;
}

.about__card-team{
    width: 210px;
}

.about__card-team-img-container{
    width: 210px;
    text-align: center;
}

.about__card-team-img-container img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
}

.about__card-team-detail{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.about__card-team-detail img{
    width: 35px;
    margin-top: 5px;
}


.team__flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 2em;
}
