.title__container {
  text-align: center;
}
.neededVisa__container {
  margin-top: 15px;
}

.neededVisa__container p {
  text-align: left;
  font-size: 1.1em;
}

.neededVisa__container img {
  margin-right: 10px;
  margin-bottom: 10px;
  object-fit: contain;
  width: 30%;
  float: left;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .neededVisa__container img {
    width: 60%;
  }
}
