.success{
    background-color: rgb(34, 139, 34);
    text-align: center;
    padding:5px;
    margin-top: 1em;
}

.error{
    background-color: rgb(214, 41, 41);
    color: white;
    text-align: center;
    padding:5px;
    margin-top: 1em;
}